# Virtual environment
venv/
env/
.venv/

# Dataset 
data/chicago_crimes.csv
data/features_labels.csv
data/features_labels_timeseries.csv
data/safe_places.csv
data/model_config.csv
data/features_labels.parquet

# OS files
*/.DS_STORE
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/