# Virtual environment
venv/
env/
.venv/

# Dataset 
chicago_crimes.csv
features_labels.csv
*/chicago_crimes.csv
*/features_labels.csv

# OS files
*/.DS_STORE
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/